body {
    font-family: century gothic;
    line-height: 1.6;
    margin: 0;
    background-image: url("resumebg.png");
    background-size: cover;
}
header {
    background-color: #c7f9cc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    border-style: outset;
}
header h1 {
    margin: 0;
    color: #333;
}
nav {
    background-color: #333;
    border-radius: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
ul.nav li {
    margin: 0;
}
ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
ul.nav li a:hover:not(.active) {
    background-color: #111;
}
ul.nav .active {
    background-color: #3bb98b;
}
main {
    margin: 20px auto;
    padding: 20px;
    background-color: #c7f9cc;
    border-style: outset;
    border-radius: 10px;
    max-width: 800px;
}
.contact-info {
    list-style-type: none;
    padding: 0;
}
.contact-info li {
    margin-bottom: 10px;
}
img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}
footer {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #c7f9cc;
    border-radius: 10px;
    max-width: 800px;
    border-style: outset;
    color: #333;
}